---
export async function getStaticPaths() {
    const res = await fetch(`${import.meta.env.API_URL}/characters/all`);
    const characters = await res.json();
    const paths = characters.characters.map(character => ({
        params: {id: character.id}
    }));
  return paths
}

const {id} = Astro.params;
const res = await fetch(`${import.meta.env.API_URL}/character/${id}`);
const character = await res.json();
---

<h1>{character.name}</h1>

<img src={character.image} />

<p><a href="/">&lt; Back Home</a></p>